body{
  --button-input-color: #19204F;
  --button-hover-color:  #4458DB;
}

/* ribbon */
.ribbon-container-center{
  width: 100%;
  /*padding: 0.5% 5% 0.5% 5%;*/
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.ribbon-container{
  width: inherit;
  /*padding: 0.5% 5% 0.5% 5%;*/
  margin-bottom: 2%;
  display: flex;
  /* position: fixed; */
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.ribbon-logo-center{
  width: 40%;
}

.ribbon-logo{
  width: 40%;
  display: block;
}

.ribbon-container > a {
  text-align: center;
  width: 30%;
}

/*dropdown menu */

.dropbtn {
  background-color: inherit;
  font-size: inherit;
  vertical-align: middle;
  color: inherit;
  border: none;
  cursor: pointer;
}

/* .dropbtn:after{
  content: "\25BE";
  margin-left: 0.2rem;
} */


.dropdown {
  position: relative;
  /* margin: 0 1rem 0 0; */
  display: inline-block;
  vertical-align: middle; /* Vertically align with other links */
}


.dropdown-content {
  z-index: 3;
  width: 10rem;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dropdown-content a {
  border: 0;
  color: black;
  display: block;
  padding: 12px 16px;;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}


.dropdown:hover .dropdown-content {
  display: block;
}


.container, .container--center-middle{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container--center-middle{
  height: 100%;
  align-items: center;
}

.card, .inner-card{
  /*width: 100%;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  padding: 2rem;
}

.inner-card{
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35);
}

.flex-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* indented section class, for comment replies*/
.indented{
  margin-left: 2rem;
}


.button-row{
  display: flex;
  justify-content: center;
  width:auto;
  column-gap: 5%;
  margin: 2% auto 2% auto;
}

.button-row-right{
  display: flex;
  justify-content: flex-end;
  width:auto;
  column-gap: 5%;
  margin: 2% auto 2% auto;
}

.button-row-left{
  display: flex;
  justify-content: flex-start;
  width:auto;
  column-gap: 5%;
  margin: 2% auto 2% auto;
}

.row{
  display: flex;
  align-items: center;
}
.row > *{
    margin-right: 2rem;
}

.row > .dropdown{
  margin-top: 0;
  margin-bottom: 0;
}

.flex-row.width-90{
  width: 90%;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

/*file upload button*/

.custom-file-upload{
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--button-input-color);
  color: white;
  font-weight: bold;
  text-align: center;
  height: 100%;
  transition: 0.3s;
}

.custom-file-upload:hover{
  background-color: var(--button-hover-color);
}

.round-upload{
  width: auto;
  border-radius: 100%;
}

.custom-file-upload > input[type="file"],
label > input[type="file"] {
    display: none;
}

/* file progress bar */
.meter {
  height: 1.25rem;
  position: relative;
  background: #555;
  border-radius: 5px;
  padding: 10px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.meter > span {
  display: block;
  height: 100%;
  border-radius: 5px 3px 3px 5px;
  /*background-color: rgb(43,194,83);*/
  box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
  /*  set text to be in the middle and center of the span element */
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 0.75rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.right{
  align-self: flex-end;
}

.left{
  align-self: flex-start;
}

.width-90{
  width: 90% !important;
}

.width-10{
  width: 10% !important;
}
.width-15{
  width: 15% !important;
}

.width-20{
  width: 20% !important;
}

.width-25{
  width: 25% !important;
}

.width-30{
  width: 30% !important;
}

.width-35{
  width: 35% !important;
}
.width-40{
  width: 40% !important;
}

.width-45{
  width: 45%  !important;
}

.width-100{
  width: 100% !important;
}

.pad-bottom{
  padding-bottom: 0.5rem;
}

.pad-top{
  padding-top: 0.5rem;
}

.pad-top.pd08{
  /* padding-top: 0.8rem; */
}

.pad-right.pd1{
  padding-right: 1rem;
}

.even-columns{
  /* display: flex; */
  flex-direction: row;
  flex-wrap: wrap;
}

.button:hover{
  cursor: pointer;
}

.no-border{
  border: none;
  border-radius: 0.2rem;
}

.account-img {
  border-radius: 50%;
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.logo-img {
  width: 20%;
  margin-right: 20px;
  margin-bottom: 16px;
  /*border: thick solid var(--button-input-color);*/
}

.button-link, .plain-link{
  text-decoration: none;
  color: inherit;
}

.qfc-container  .plain-form{
  padding-top: 0;
}

.qfc-container .plain-button,
input[type='button'].plain-button,
input[type='reset'].plain-button,
input[type='submit'].plain-button{
    background-color: transparent;
    width: auto !important;
    border: none;
    color: inherit;
    padding: 0;
    font: inherit;
    font-size: 1rem;
    cursor: pointer;
    outline: inherit;
    text-transform: none;
}

.qfc-container .plain-button:hover,
input[type='button'].plain-button:hover,
input[type='reset'].plain-button:hover,
input[type='submit'].plain-button:hover {
  color: var(--button-hover); /* --button hover is defined in the qfc-light.css file */
  background: none;
}

/*icons*/

.material-icons{
   vertical-align: middle;
   padding: 0.4rem;
}

.material-icons.md-auto { font-size: 1.5rem; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

@media only screen and (min-width: 300px) and (max-width: 1200px){
  body{
    font-size: 12px;
  }
  #back > i, #next > i{
    font-size: 15px;
  }
  .account-img {
    border-radius: 50%;
    height: 70px;
    width: 70px;
  }
}

