{% extends 'payroll_info/base.html' %}
{% load static %}
<!-- add this line to include the custom tag we made in the param_replace.py file -->
{% load param_replace %}

{% block content %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Hide all reply sections and forms on page load
            $('.indented').hide();
            $('.comment .reply_form').hide();

            // Toggle replies when the anchor tag is clicked
            $('.toggle-replies-link').on('click', function(e) {
                e.preventDefault();
                let repliesSection = $(this).closest('.comment').find('.indented');
                let replyForm = $(this).closest('.comment').find('.reply_form');

                // Toggle the icon
                let icon = $(this).find('i');
                if (repliesSection.is(':visible')) {
                    icon.text('expand_more');  // Change to expand icon
                } else {
                    icon.text('expand_less');  // Change to collapse icon
                }


                repliesSection.slideToggle();
                replyForm.slideToggle();

            });

        });
    </script>
    <section id="backup-record-info">
        <span class="section-header">Backup Info</span>
        <span class="flex-row">
            File Name: <strong>{{ backup.basename }}</strong>
        </span>
        <br/>
        <span class="flex-row">
            Backup location: <strong>{{ backup.adaski_path }}</strong>
        </span>
        <br/>
        <span class="flex-row">
            File size: <strong>{{ backup.filesize|filesizeformat }}</strong>
        </span>
        <br/>
        <span class="flex-row">
            Date uploaded: <strong>{{ backup.date_uploaded }}</strong>
        </span>
        <br/>
        <span class="flex-row">
            Uploaded by: <strong>{{ backup.user.username }}</strong>
        </span>
    </section>

    <br/>

    <section id="add_comment">
        <span class="section-header">Comments</span>
        <form method="POST">
            {% csrf_token %}
            <span class="flex-row">
                {{ comment_form.as_p }}
                <button type="submit" class="plain-button">
                    <i class="material-icons">comment</i>
                </button>
            </span>
        </form>
    </section>

    <br/>

    <section id="comments-list">
        {% if comments %}
            {% for comment in comments %}
                <div class="comment">
                    <span class="flex-row width-45 ">
                        <strong>{{ comment.user }}</strong>
                        <em>{{ comment.created }}</em>
                         <a href="#" class="toggle-replies-link plain-link">
                            {{ comment.replies.count }} repl{{ comment.replies.count|pluralize:"y,ies" }}
                             <i class="material-icons md-18 no-padding">expand_more</i>
                        </a>
                    </span>
                    <p>{{ comment.body|linebreaks }}</p>

                    <div class="indented" id="comment_{{ comment_id }}_replies">
                        {% if comment.replies %}
                            {% for reply in comment.replies.all %}
                                <div class="reply">
                                    <span class="button-row-left">
                                        <strong>{{ reply.user }}</strong>
                                        <em>{{ reply.created }}</em>
                                    </span>
                                    <p>{{ reply.body|linebreaks }}</p>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <form method="POST" class="reply_form">
                        {% csrf_token %}
                        <span class="button-row-left">
                            {{ comment_form.as_p }}
                            <input type="hidden" name="parent_id" value="{{ comment.id }}">
                            <button type="submit" class="plain-button">
                                <i class="material-icons">send</i>
                            </button>
                        </span>
                    </form>

                    <br/>
                </div>
            {% endfor %}
        {% else %}
            <p>No comments yet.</p>
        {% endif %}
    </section>

    {% if is_paginated %}
        <div class="button-row-left width-100">
            {% if page_obj.has_previous %}
                <a href="?{% param_replace page=1 %}" class="plain-link no-border button">
                    <i class="material-icons md-18 no-padding">first_page</i>
                </a>
                <a href="?{% param_replace page=page_obj.previous_page_number %}" class="plain-link no-border button">
                    <i class="material-icons md-18 no-padding">navigate_before</i>
                </a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a href="?{% param_replace page=num %}" class="plain-link no-border button" style="color: var(--form-theme-color)">
                        <span style="font-size: 18px; padding:0.4rem;">{{num}}</span>
                    </a>
                {% elif  num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                    <a href="?{% param_replace page=num %}" class="plain-link no-border button">
                        <span style="font-size: 18px; padding:0.4rem;">{{num}}</span>
                    </a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?{% param_replace page=page_obj.next_page_number %}" class="plain-link no-border button">
                    <i class="material-icons md-18 no-padding">navigate_next</i>
                </a>
                <a href="?{% param_replace page=page_obj.paginator.num_pages %}" class="plain-link no-border button">
                    <i class="material-icons md-18 no-padding">last_page</i>
                </a>
            {% endif %}
        </div>
    {% endif %}

    <span class="button-row-left">
        <a class="plain-link" href="{% url 'profile' %}">
            <button type="button">
                <i class="material-icons">arrow_back</i>
                Back
            </button>
        </a>
    </span>
{% endblock %}