{% extends 'backups/base.html' %}

<!-- add this line to include the custom tag we made in the param_replace.py file -->
{% load param_replace %}

{% block content %}
    <div class="image image3"></div>
    <div class="image image6"></div>
    <section id="search">
        <form method="GET">
            {% csrf_token %}
            <span class="flex-row">
                {{ search_form.as_p }}
                <button type="submit" class="plain-button">
                    <i class="material-icons">search</i>
                </button>
            </span>
        </form>
    </section>

    <section id="backups-list">
        {% if company %}
            <h5>{{ company.code }} Backup Records</h5>

            <span class="flex-row">
                <b>Total Storage: </b> {{ company.max_storage|filesizeformat }}<br>
            </span>
            <br/>
            <span class="flex-row">
                <b>Used Storage: </b> {{ company.used_storage|filesizeformat }}<br>
            </span>
            <br/>
        {% endif %}

        {% if backups %}
            <table>
                <thead>
                   <tr>
                       <th>File Name</th>
                       <th>Size</th>
                       <th>Uploaded</th>
                        {% if user.profile.is_company_admin or user.is_staff %}
                            <th>Uploader</th>
                        {% endif %}
                       <th>Download</th>
                        {% if user.profile.is_company_admin or user.is_staff %}
                            <th>Delete</th>
                        {% endif %}
                   </tr>
                </thead>
                {% for backup in backups %}
                    <tr>
                        <td>{{ backup.basename }}</td>
                        <td>{{ backup.filesize|filesizeformat }}</td>
                        <td>{{ backup.date_uploaded }}</td>
                        {% if user.profile.is_company_admin or user.is_staff %}
                            <td>{{ backup.user.username }}</td>
                        {% endif %}
                        <td>
                            <a class="plain-link" href="{{ backup.file.url }}">
                                <i class="material-icons">download</i>
                            </a>
                        </td>
                        {% if user.profile.is_company_admin or user.is_staff %}
                            <td>
                                <a class="plain-link" href="{% url 'backups:delete' backup.id %}">
                                    <i class="material-icons">delete</i>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No backups found.</p>
        {% endif %}
    </section>

    {% if is_paginated %}
        <div class="button-row-left width-100">
            {% if page_obj.has_previous %}
                <a href="?{% param_replace page=1 %}" class="plain-link no-border button">
                    <i class="material-icons md-18 no-padding">first_page</i>
                </a>
                <a href="?{% param_replace page=page_obj.previous_page_number %}" class="plain-link no-border button">
                    <i class="material-icons md-18 no-padding">navigate_before</i>
                </a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a href="?{% param_replace page=num %}" class="plain-link no-border button" style="color: var(--form-theme-color)">
                        <span style="font-size: 18px; padding:0.4rem;">{{num}}</span>
                    </a>
                {% elif  num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                    <a href="?{% param_replace page=num %}" class="plain-link no-border button">
                        <span style="font-size: 18px; padding:0.4rem;">{{num}}</span>
                    </a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?{% param_replace page=page_obj.next_page_number %}" class="plain-link no-border button">
                    <i class="material-icons md-18 no-padding">navigate_next</i>
                </a>
                <a href="?{% param_replace page=page_obj.paginator.num_pages %}" class="plain-link no-border button">
                    <i class="material-icons md-18 no-padding">last_page</i>
                </a>
            {% endif %}
        </div>
    {% endif %}

    <span class="button-row-left">
        <a class="plain-link" href="{% url 'profile' %}">
            <button type="button">
                <i class="material-icons">arrow_back</i>
                Back
            </button>
        </a>
    </span>
{% endblock %}