{% extends 'payroll_info/base.html' %}
{% load static %}
{% block content %}
    <div class="image image2"></div>
    <span class="row">
        <u>Current Folder:</u>
        {% for segment, segment_path in clickable_path_segments %}
            <form method="post" action="{% url 'backups:file_browser' %}" class="plain-form" style="margin: 0;">
                {% csrf_token %}
                <input type="hidden" name="path" value="{{ segment_path }}">
                <button type="submit" class="plain-button">{{ segment }}</button>
            </form>
            <span style="margin: 0; padding: 0 0.5rem 0 0.5rem;"> > </span>
        {% endfor %}
    </span>

    {% if one_level_up %}
        <form method="post" action="{% url 'backups:file_browser' %}" class="plain-form">
            {% csrf_token %}
            <input type="hidden" name="path" value="{{ one_level_up }}">
            <button type="submit" class="plain-button">
                <b>
                    <i class="material-icons" style="font-size: 1rem;">arrow_upward</i>
                    Up
                </b>
            </button>
        </form>
    {% endif %}



    {% if subdirectories %}
        <span class="section-header">Folders</span>
        <ul>
            {% for subdirectory in subdirectories %}
                <li>
                    <form method="post" action="{% url 'backups:file_browser' %}" class="plain-form">
                        {% csrf_token %}
                        <input type="hidden" name="path" value="{{ current_path|add:'\\'|add:subdirectory }}">
                        <button type="submit" class="plain-button">
                            <i class="material-icons">folder</i>
                            {{ subdirectory }}
                        </button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if files %}
        <span class="section-header">Files</span>
        <table>
                <thead>
                   <tr>
                       <th>File Name</th>
                       <th>Size</th>
                       <th>Uploaded</th>
                       {% if user.profile.is_company_admin or user.is_staff %}
                           <th>Uploader</th>
                       {% endif %}
                       <th>Download</th>
                        {% if user.profile.is_company_admin or user.is_staff %}
                            <th>Delete</th>
                        {% endif %}
                   </tr>
                </thead>
                {% for backup in files %}
                    <tr>
                        <td>
                            <a href="{% url 'backups:backup_details' backup.id %}">
                                {{ backup.basename }}
                            </a>
                        </td>
                        <td>{{ backup.filesize|filesizeformat }}</td>
                        <td>{{ backup.date_uploaded }}</td>
                        {% if user.profile.is_company_admin or user.is_staff %}
                            <td>{{ backup.user.username }}</td>
                        {% endif %}
                        <td>
                            <a class="plain-link" href="{{ backup.file.url }}">
                                <i class="material-icons">download</i>
                            </a>
                        </td>
                        {% if user.profile.is_company_admin or user.is_staff %}
                            <td>
                                <a class="plain-link" href="{% url 'backups:delete' backup.id %}">
                                    <i class="material-icons">delete</i>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
    {% endif %}
    <br/>
    <br/>
    <br/>
{% endblock %}