{% extends 'payroll_info/base.html' %}
{% block content %}
{% load static %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/spark-md5/3.0.0/spark-md5.min.js"></script>
    <script>
        // Calculate the MD5 checksum of the file (using SparkMD5 library)
        function calculateChecksum(filepath, callback) {
            const chunkSize = 4096;
            let offset = 0;
            const spark = new SparkMD5.ArrayBuffer();
            const fileReader = new FileReader();

            fileReader.onload = function (event) {
                spark.append(event.target.result); // Append chunk to the spark
                offset += event.target.result.byteLength;

                if (offset < filepath.size) {
                    readNextChunk();
                } else {
                    let checksum = spark.end();
                    callback(checksum);
                }
            };

            function readNextChunk() {
                let blob = filepath.slice(offset, offset + chunkSize);
                fileReader.readAsArrayBuffer(blob);
            }

            readNextChunk();
        }

        // Function to upload the file in chunks
        function uploadFile(filepath) {
            const url = "{% url 'backups:upload' %}";
            const CHUNK_SIZE = 1024 * 1024 / 4;
            const totalChunks = Math.ceil(filepath.size / CHUNK_SIZE);
            const progressField = $("#file_progress");
            const progressBarParent = $("#progress_bar_outer");
            const progressBar = $("#progress_bar");
            const comment = $("#backup_comment")[0].value;
            const csrf = $("input[name='csrfmiddlewaretoken']")[0].value;

            progressField.text("Uploading...");
            progressBar.css("width", "0%");
            let offset = 0;
            let chunkIndex = 0;

            function uploadNextChunk() {
                let blob = filepath.slice(offset, offset + CHUNK_SIZE);
                let formData = new FormData();

                formData.append("file", blob);
                formData.append("total_chunks", totalChunks);
                formData.append("chunk_index", chunkIndex);
                formData.append("filename", filepath.name);
                formData.append("filesize", filepath.size);
                formData.append("csrfmiddlewaretoken", csrf);

                if (chunkIndex === totalChunks - 1) {
                    if (comment !== ""){
                        formData.append("comment", comment);
                    }
                    formData.append('save_dir', 'Manual Uploads')
                    calculateChecksum(filepath, function (checksum) {
                        formData.append("checksum", checksum);

                        sendRequest();
                    });
                } else {
                    sendRequest();
                }

                function sendRequest() {
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (data, textStatus, xhr) {
                            console.log("Chunk " + (chunkIndex + 1) + " uploaded successfully.\n");
                            chunkIndex++;
                            //progressField.innerHTML = "Uploading... " + Math.round(chunkIndex / totalChunks * 100) + "%";
                            let percent = Math.round(chunkIndex / totalChunks * 100)  + "%";
                            progressBar.css("width", percent);
                            progressBar.text(percent);

                            offset += CHUNK_SIZE;

                            if (chunkIndex < totalChunks) {
                                uploadNextChunk();
                            }
                            else{
                                let message = "File Uploaded Successfully";
                                let messageHTML = "<div class='inner-card lincolngreen'><em>" + message + "</em></div>";
                                $("#messages").append(messageHTML);
                                progressBarParent.hide();
                                $('#file_progress').hide();
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            console.error("Chunk " + (chunkIndex + 1) + " upload failed with status code " + xhr.status + ".");
                            console.error("Message: " + xhr.responseText + ".\n");
                            progressField.html("<strong>" + xhr.responseText + ".</strong>");
                            let messageHTML = "<div class='inner-card cadmium-red'><em>" + "Upload Failed" + "</em></div>";
                            $("#messages").append(messageHTML);
                            progressBar.removeClass('lincolngreen');
                            progressBar.addClass('cadmium-red');
                        }
                    });
                }
            }

            uploadNextChunk();
        }

        $(document).ready(function () {
            const uploadBtn = $("#uploadFile");
            const fileInput = $("#backup_field");
            const showSelectedFile = $("#show_selected_file");
            const progressBarParent = $("#progress_bar_outer");
            const progressBar = $("#progress_bar");
            const messages_span = $("#messages");

            progressBarParent.hide();
            uploadBtn.hide();

            // Show the selected file name when the select file button changes
            fileInput.change(function(){
                let filepath = fileInput.prop('files')[0];
                let filename = filepath.name;
                showSelectedFile.empty();
                if (filename){
                    uploadBtn.show();
                    showSelectedFile.append(
                        "<br/>" +
                        "<p>" +
                        "Selected File: <b>" + filename + "</b>" +
                        "</p>"
                    );
                }
                else{
                    uploadBtn.hide();
                }
            })

            uploadBtn.click(function () {
                let filepath = fileInput.prop('files')[0];

                progressBarParent.show('slow');
                progressBar.css("width", "0%");
                progressBar.removeClass('cadmium-red');
                messages_span.empty();

                if (filepath) {
                    uploadFile(filepath);
                }
                else{
                    let message = "Please select a file to upload";
                    let messageHTML = "<div class='inner-card cadmium-red'><em>" + message + "</em></div>";
                    messages_span.append(messageHTML);
                    progressBarParent.hide();
                    $('#file_progress').empty();
                }

                // clear the file input value
                fileInput.val("");
                showSelectedFile.empty();
                uploadBtn.hide();
                $("#backup_comment").val("");
            });
        });
    </script>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <span class="row">
            <label for="{{ upload_backup_form.file.id_for_label }}" class="custom-file-upload">
                <i class="material-icons">attachment</i>
                Select File
                {{ upload_backup_form.file }}
            </label>
            {{ upload_backup_form.file.errors }}
            <span id="file_progress"></span>
        </span>

        <span id="show_selected_file">
        </span>

        <br/>

        <span class="flex-row">
            <textarea id="backup_comment" rows="1" cols="115" placeholder="Add a comment..."></textarea>
        </span>

        <br/>

        <span class="row">
            <span class="meter width-100" id="progress_bar_outer">
                <span id="progress_bar" class="lincolngreen"></span>
            </span>
        </span>

        <span class="button-row-left">
{#            <a class="plain-link" href="{% url 'profile' %}">#}
{#                <button type="button">#}
{#                    <i class="material-icons">arrow_back</i>#}
{#                    Back#}
{#                </button>#}
{#            </a>#}
            <button type="button" id="uploadFile">
                <i class="material-icons">upload</i>
                Upload
            </button>
        </span>

    </form>
{% endblock %}