{% extends 'payroll_info/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
{#        <div class="image image3"></div>#}
        <div class="image image2"></div>
        {%if not messages %}
            <div class="image image5"></div>
        {% endif %}
        <span class="section-header">{{ title }}</span>
        <section id="CompanyInfo">
            {% for field in form %} {# loop through all the fields. Use field.name to print the field name #}
                {% if field.name != 'logo' %}
                    <span class="flex-row">
                        <b>{{ field.name | title }}:</b> {{ field }}
                        {{ field.errors }}
                    </span>
                    <br/>
                {% endif %}
            {% endfor %}

            <span class="flex-row">
                {%  if company.logo.url  %}
                    <img class="logo-img" src="{{ company.logo.url }}" alt="logo">
                {% endif %}

                <label for="{{ form.logo.id_for_label }}" class="custom-file-upload">
                    <i class="material-icons">cloud_upload</i>
                    Upload Logo
                    {{ form.logo }}
                </label>
                {{ form.logo.errors }}
                <script>
                        // Add the selected file name to the label so that the user can preview it
                        $('#id_logo').on('change',function(){
                            //get the file name
                            let fileName = $(this).val().split('\\').pop();

                            // change the image preview
                            if (this.files && this.files[0]) {
                                let reader = new FileReader();

                                reader.onload = function (e) {
                                    $('.logo-img').attr('src', e.target.result);
                                }
                                reader.readAsDataURL(this.files[0]);
                            }

                            //replace the "Choose a file" label
                            $(this).next('.custom-file-upload').html('<i class="material-icons">cloud_upload</i> '
                                + fileName
                                + '{{ form.logo }}'
                            );
                        })
                </script>
            </span>
        </section>

        <br/>

        <span class="button-row">
            <button type="submit">
                <i class="material-icons">save</i>
                Save
            </button>
{#            <a class="plain-link" href="{% url 'profile' %}">#}
{#                <button type="button">#}
{#                    <i class="material-icons">cancel</i>#}
{#                    Cancel#}
{#                </button>#}
{#            </a>#}
        </span>

        <br/>
        <section id="Company User Accounts">
        <h5>Company User Accounts</h5>
            {%  if company_accounts %}
                <table>
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for profile in company_accounts %}
                            <tr>
                                <td>
                                    <img class="account-img-small" src="{{ profile.image.url }}" alt="profile picture">
                                    {{ profile.user.username }}
                                </td>
                                <td>{{ profile.user.first_name }}</td>
                                <td>{{ profile.user.last_name }}</td>
                                <td>{{ profile.user.email }}</td>
                                <td>
                                    <a class="plain-link" href="{% url 'delete_user' profile.user.id %}">
                                        <i class="material-icons">delete</i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <span class="button-row">
                    <a class="plain-link" href="{% url 'create_new_users' %}">
                        <button type="button">
                            <i class="material-icons">add</i>
                            User
                        </button>
                    </a>
                    <a class="plain-link" href="{% url 'manage_company_users' company.id %}">
                        <button type="button">
                            <i class="material-icons">visibility</i>
                            Users
                        </button>
                    </a>
                </span>
            {% else %}
                <p>No users have been added to this company yet</p>
                <span class="button-row">
                    <a class="plain-link" href="{% url 'create_new_users' %}">
                        <button type="button">
                            <i class="material-icons">add</i>
                            User
                        </button>
                    </a>
                </span>
            {% endif %}
        </section>
    </form>
{% endblock %}