<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adaski Account Credentials</title>
     <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            margin: 0 auto;
            max-width: 600px;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
        h1 {
            color: #0072c6;
            font-size: 36px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>
            {% if user.first_name %}
                Hi {{ user.first_name }} 👋,
            {% else %}
                Hi {{ user.username }} 👋,
            {% endif %}
        </h1>
        <br/>
        <p>
            {% if user.profile.is_company_admin %}
                Your Adaski admin account with <em>{{ user.profile.company.name }}</em> has been created.
            {% else %}
                Your Adaski account with <em>{{ user.profile.company.name }}</em> has been created.
            {% endif %}

            <br/>
            <br/>

            You can log in <a href="https://adaski.co.zw/login/">here</a>
            using the following credentials:
        </p>

        <p>Username: <b>{{ user.username }}</b></p>
        <p>Password: <b>{{ password }}</b></p>

        <p>
            Kind regards,
            <br/>
            <em>Softrite</em>
        </p>
    </div>
</body>
</html>