{% extends 'users/base.html'%}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
   <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
       <div class="image image5"></div>
       <span class="section-header">Reset Password</span>

       <div class="flex-row">
           <label for="id_email">Email</label>
           <input type="email" name="email" id="id_email" autocomplete="email" class="input" placeholder="Email" required
           value="{{ user.email }}">
       </div>

        <div class="flex-row">
            <input type="submit" class="button" value="Send Email" width="100%">
            {% if user %}
                <a class="plain-link" href="{% url 'profile' %}">
                    <input type="button" class="button" value="Cancel" width="100%">
                </a>
            {% else %}
                <a class="plain-link" href="{% url 'login' %}">
                    <input type="button" class="button" value="Cancel" width="100%">
                </a>
            {% endif %}
        </div>
   </form>
{% endblock %}