{% extends 'payroll_info/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <form  method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="image image4"></div>
        <div class="image image2"></div>
        <div class="image image3"></div>
        {%if not messages %}
            <div class="image image5"></div>
        {% endif %}
        <section id="profile info">
            <span class="section-header">Update Profile</span>

            <span class="flex-row">
                <img class="account-img" src="{{ user.profile.image.url }}" alt="profile picture">

                <label for="{{ profile_form.image.id_for_label }}" class="custom-file-upload">
                    <i class="material-icons">cloud_upload</i>
                    Upload Image
                    {{ profile_form.image }}
                </label>
            </span>

            <h5>Information</h5>

            <table>
                <tbody>
                    <tr>
                        {% if user.profile.company %}
                            <td>
                                <b>Company:</b>  {{ user.profile.company.name }}
                            </td>
                        {% endif %}
                        <td>
                            <b>Email:</b> {{ user.email }}
                        </td>
                    </tr>
                </tbody>
            </table>
            {# add the is_company_admin filed but make it hidden #}
{#            <span style="display: none;">#}
{#                {{ profile_form.is_company_admin }}#}
{#            </span>#}
{#                {{ profile_form.is_company_admin.errors }}#}
            {# Continue with the visible fields #}
            <br/>
            <span class="flex-row">
                <b>Firstname:</b> {{ profile_form.firstname }}
            </span>
            <br/>
            <span class="flex-row">
                <b>Lastname:</b> {{ profile_form.lastname }}
            </span>
            <br/>
            <span class="flex-row">
                <b>Phone:</b> {{ profile_form.phone }}
            </span>
            <br/>

            <div class="button-row">
                <input type="submit" class="button" value="Update">
            </div>
        </section>

        <section id="cloud_backup">
            <span class="section-header">Cloud Storage</span>

            <h5>Backup Records</h5>
            {% if backups %}
                <table>
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>Size</th>
                            <th>Uploaded</th>
                            <th>Download</th>
                             {% if user.profile.is_company_admin or user.is_staff %}
                                <th>Delete</th>
                             {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for backup in backups %}
                            <tr>
                                <td>{{ backup.basename }}</td>
                                <td>{{ backup.filesize|filesizeformat }}</td>
                                <td>{{ backup.date_uploaded }}</td>
                                <td>
                                    <a class="plain-link" href="{{ backup.file.url }}">
                                        <i class="material-icons">download</i>
                                    </a>
                                </td>
                                {% if user.profile.is_company_admin or user.is_staff %}
                                    <td>
                                        <a class="plain-link" href="{% url 'backups:delete' backup.id %}">
                                            <i class="material-icons">delete</i>
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <br/>

                <div class="button-row">
                    <a href="{% url 'backups:user_list' %}">
                        <button type="button">My Backups</button>
                    </a>
                     {% if user.profile.is_company_admin or user.is_staff and user.profile.company %}
                        <a href="{% url 'backups:company_list' user.profile.company.id %}">
                            <button type="button">{{ user.profile.company.code }} Backups</button>
                        </a>
                    {% endif %}
                </div>
            {% else %}
                {% if user.profile.is_company_admin or user.is_staff and user.profile.company %}
                    <p>No backups found for your user.</p>
                        <div class="button-row">
                            <a class="plain-link" href="{% url 'backups:manual_upload' %}">
                                <button type="button">
                                    <i class="material-icons">add</i>
                                    Backup
                                </button>
                            </a>
                            <a href="{% url 'backups:company_list' user.profile.company.id %}">
                                <button type="button">{{ user.profile.company.code }} Backups</button>
                            </a>
                        </div>
                    <br/>
                {% else %}
                    <p>No backups found</p>
                    <div class="button-row">
                        <a class="plain-link" href="{% url 'backups:manual_upload' %}">
                            <button type="button">
                                <i class="material-icons">add</i>
                                Backup
                            </button>
                        </a>
                    <br/>
                {% endif %}
            {% endif %}
        </section>

    </form>

{% endblock content %}