{% extends 'payroll_info/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <form  method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="image image4"></div>
        <div class="image image2"></div>
        <div class="image image3"></div>
        {%if not messages %}
            <div class="image image5"></div>
        {% endif %}
        <section id="profile info">
            <span class="section-header">Update Profile</span>

            <span class="flex-row">
                <img class="account-img" src="{{ user.profile.image.url }}" alt="profile picture">

                <label for="{{ profile_form.image.id_for_label }}" class="custom-file-upload">
                    <i class="material-icons">cloud_upload</i>
                    Upload Image
                    {{ profile_form.image }}
                </label>
                <script>
                    // Add the selected file name to the label so that the user can preview it
                    $('#id_image').on('change',function(){
                        //get the file name
                        let fileName = $(this).val().split('\\').pop();

                        // change the image preview
                        if (this.files && this.files[0]) {
                            let reader = new FileReader();

                            reader.onload = function (e) {
                                $('.account-img').attr('src', e.target.result);
                            }
                            reader.readAsDataURL(this.files[0]);
                        }

                        //replace the "Choose a file" label
                        $(this).next('.custom-file-upload').html('<i class="material-icons">cloud_upload</i> '
                            + fileName
                            + '{{ profile_form.image }}'
                        );
                    })

                </script>
            </span>

            <h5>Information</h5>

            <table>
                <tbody>
                    <tr>
                        {% if user.profile.company %}
                            <td>
                                <b>Company: </b>  {{ user.profile.company.name }}
                            </td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
            {# add the is_company_admin filed but make it hidden #}
{#            <span style="display: none;">#}
{#                {{ profile_form.is_company_admin }}#}
{#            </span>#}
{#                {{ profile_form.is_company_admin.errors }}#}
            {# Continue with the visible fields #}
            <br/>
            <span class="flex-row">
                <b>First name:</b> {{ user_form.first_name }}
            </span>
            <br/>
            <span class="flex-row">
                <b>Last name:</b> {{ user_form.last_name }}
            </span>
            <br/>
            <span class="flex-row">
                <b>Email:</b> {{ user_form.email }}
            </span>
            <br/>
            <span class="flex-row">
                <b>Phone:</b> {{ profile_form.phone }}
            </span>
            <br/>
            <span class="flex-row">
                <b>Receive backup notifications:</b> {{ profile_form.get_backup_emails }}
            </span>
            <br/>
            <span class="flex-row">
                <b>
                    <small class="form-text text-muted">
                        <a href="{% url 'password_reset' %}"><em>Change Password</em></a>
                    </small>
                </b>
            </span>

            <div class="button-row">
                <input type="submit" class="button" value="Update">
            </div>
        </section>

        <section id="cloud_backup">
            <span class="section-header">Cloud Storage</span>

            <h5>Backup Records</h5>
            {% if backups %}
                <table>
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>Size</th>
                            <th>Uploaded</th>
                            <th>Download</th>
                             {% if user.profile.is_company_admin or user.is_staff %}
                                <th>Delete</th>
                             {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for backup in backups %}
                            <tr>
                                <td>
                                    <a href="{% url 'backups:backup_details' backup.id %}">
                                        {{ backup.basename }}
                                    </a>
                                </td>
                                <td>{{ backup.filesize|filesizeformat }}</td>
                                <td>{{ backup.date_uploaded }}</td>
                                <td>
                                    <a class="plain-link" href="{{ backup.file.url }}">
                                        <i class="material-icons">download</i>
                                    </a>
                                </td>
                                {% if user.profile.is_company_admin or user.is_staff %}
                                    <td>
                                        <a class="plain-link" href="{% url 'backups:delete' backup.id %}">
                                            <i class="material-icons">delete</i>
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <br/>

                <div class="button-row">
                    <a href="{% url 'backups:user_list' %}">
                        <button type="button">My Backups</button>
                    </a>
                     {% if user.profile.is_company_admin or user.is_staff and user.profile.company %}
                        <a href="{% url 'backups:company_list' user.profile.company.id %}">
                            <button type="button">Co. Backups</button>
                        </a>
                    {% endif %}
                </div>
            {% else %}
                {% if user.profile.is_company_admin or user.is_staff and user.profile.company %}
                    <p>No backups found for your user.</p>
                        <div class="button-row">
                            <a class="plain-link" href="{% url 'backups:manual_upload' %}">
                                <button type="button">
                                    <i class="material-icons">add</i>
                                    Backup
                                </button>
                            </a>
                            <a href="{% url 'backups:company_list' user.profile.company.id %}">
                                <button type="button">Co. Backups</button>
                            </a>
                        </div>
                    <br/>
                {% else %}
                    <p>No backups found</p>
                    <div class="button-row">
                        <a class="plain-link" href="{% url 'backups:manual_upload' %}">
                            <button type="button">
                                <i class="material-icons">add</i>
                                Backup
                            </button>
                        </a>
                    <br/>
                {% endif %}
            {% endif %}
        </section>

    </form>

{% endblock content %}