{% extends 'payroll_info/base.html' %}
{% load crispy_forms_tags %}
{% load param_replace %} {# custom tag to get pagination working properly with parameter links #}
{% block content %}
    <div class="image image4"></div>
    <div class="image image3"></div>
    <section id="search">
        <form method="GET">
            {% csrf_token %}
            <span class="flex-row">
                {{ search_form.as_p }}
                <button type="submit" class="plain-button">
                    <i class="material-icons">search</i>
                </button>
            </span>
        </form>
    </section>

    <section id="Company User Accounts">
        <h5>Company User Accounts</h5>
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for acc in users %}
                    <tr>
                        <td>
                            <img class="account-img-small" src="{{ acc.profile.image.url }}" alt="profile picture">
                            {{ acc.username }}
                        </td>
                        <td>{{ acc.profile.firstname }}</td>
                        <td>{{ acc.profile.lastname }}</td>
                        <td>{{ acc.email }}</td>
                        <td>
                            <a class="plain-link" href="{% url 'delete_user' acc.id %}">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    {% if is_paginated %}
        <div class="button-row-left width-100">
            {% if page_obj.has_previous %}
                <a href="?{% param_replace page=1 %}" class="plain-link no-border button">
                    <i class="material-icons md-18 no-padding">first_page</i>
                </a>
                <a href="?{% param_replace page=page_obj.previous_page_number %}" class="plain-link no-border button">
                    <i class="material-icons md-18 no-padding">navigate_before</i>
                </a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a href="?{% param_replace page=num %}" class="plain-link no-border button" style="color: var(--form-theme-color)">
                        <span style="font-size: 18px; padding:0.4rem;">{{num}}</span>
                    </a>
                {% elif  num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                    <a href="?{% param_replace page=num %}" class="plain-link no-border button">
                        <span style="font-size: 18px; padding:0.4rem;">{{num}}</span>
                    </a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?{% param_replace page=page_obj.next_page_number %}" class="plain-link no-border button">
                    <i class="material-icons md-18 no-padding">navigate_next</i>
                </a>
                <a href="?{% param_replace page=page_obj.paginator.num_pages %}" class="plain-link no-border button">
                    <i class="material-icons md-18 no-padding">last_page</i>
                </a>
            {% endif %}
        </div>
    {% endif %}

    <span class="button-row-left">
        <a class="plain-link" href="{% url 'create_new_users' %} ">
            <button type="button">
                <i class="material-icons">add</i>
                Add
            </button>
        </a>

{#        <a class="plain-link" href="{% url 'update_company' company.id %}">#}
{#            <button type="button">#}
{#                <i class="material-icons">arrow_back</i>#}
{#                Back#}
{#            </button>#}
{#        </a>#}
    </span>
{% endblock %}