{% extends 'payroll_info/base.html' %}
{% load static %}

{% block content %}
    <div id="home_page">
        {% csrf_token %}
        <div class="image image2"></div>
        <div class="image image4"></div>
        <section id="interbank_rate" >
            <span class="section-header">
                Interbank Exchange Rate
            </span>

            <span class="flex-row">
                <label><b>Rate: </b></label>
                {{ interbank_rate.rate|floatformat:2 }}

                <label><b>Date: </b></label>
                {{ interbank_rate.date }}

                <a class="plain-link" href="{% url 'interbank-update' interbank_rate.id %}">
                    <i class="material-icons">edit</i>
                </a>

                <a class="plain-link" href="{% url 'interbank-delete' interbank_rate.id %}">
                    <i class="material-icons">remove_circle</i>
                </a>
            </span>
            <br>
             <!-- chart showing a line graph of the interbank rate for the last week by default,
            but users can select a month, quarter, year or custom range option -->
            <div id="show_graph">

                <input type="hidden" id="baseUrl" value="{% url 'get_rates_between' 'start_date' 'end_date' %}">

                <!-- display the graph using chart js -->
                <div id="canvas_container">
                    <canvas id="graph" width="400" height="200"></canvas>
                </div>

                <div id="average_rate_for_period">
                    <span id="average_rate">
                        <label><b>Average Rate: </b></label>
                        <span id="average_rate_value" style="padding-left: 1rem;"></span>
                    </span>
                </div>

                <div id="options">
                    <span id="predefined" class=" width-90 flex-row">
                        <b>Range:</b>
                        <button id="month" class="plain-button"><em>Month</em></button>
                        <button id="quarter" class="plain-button"><em>Quarter</em></button>
                        <button id="year" class="plain-button"><em>Year</em></button>
                        <button id="custom" class="plain-button"><em>Custom</em></button>
                    </span>
                    <div id="custom_range" style="display: none;">
                        <span class="flex-row">
                            <label for="start_date">Start Date: </label>
                            <input type="date" name="start_date" id="start_date">
                        </span>

                        <br>

                        <span class="flex-row">
                            <label for="end_date">End Date: </label>
                            <input type="date" name="end_date" id="end_date">
                        </span>

                        <br>
                        <button id="show">Show</button>
                    </div>
                </div>

                <!-- load in the chart script after the canvas has been created -->
                <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"> </script>
                <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!--chart js-->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
                <script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
                <script src="{% static 'payroll_info/js/chart.js' %}" type="text/javascript"></script>

            </div>

        </section>

        <span class="button-row">
            <a class="plain-link" href="{% url 'interbank-rates' %}">
                <button type="button">
                    All Rates
                </button>
            </a>
        </span>

        <section id="nec_rates">
            <span class="section-header">
                National Employment Councils
            </span>

            {% for nec in necs %}
                <div class="collapsable" id="{{ nec.name }}_nec">
                    <h5>
                        {{ nec.name }} NEC Rate
                        <a class="plain-link" href="{% url 'nec-delete' nec.id %}">
                            <i class="material-icons">delete</i>
                        </a>
                    </h5>

                    {% if nec.rates_set %}
                        {% for nec_rate in nec.rates_set.all|dictsortreversed:'date'|slice:":2" %}
                            <span class="flex-row">
                            <label><b>ZWL Rate:</b></label>
                                <!-- show the rate formatted to 2 decimal places -->
                            {{ nec_rate.rate|floatformat:2 }}
                                <label><b>Date:</b></label>
                            {{ nec_rate.date|date:'F Y'}}
                            <a class="plain-link" href="{% url 'nec-rate-update' nec.id nec_rate.id %}">
                                <i class="material-icons">edit</i>
                            </a>

                            <a class="plain-link" href="{% url 'nec-rate-delete' nec.id nec_rate.id %}">
                                <i class="material-icons">remove_circle</i>
                            </a>
                        </span>
                        {% endfor %}
                    {% endif %}

                    <span class="button-row">
                        <a class="plain-link" href="{% url 'nec-rates' nec.id %}">
                            <button type="button">
                                View Rates
                            </button>
                        </a>

                        <a class="plain-link" href="{% url 'nec-grades' nec.id %}">
                            <button type="button">
                                View Grades
                            </button>
                        </a>
                    </span>
                </div>
            {% endfor %}

            <span class="button-row">
                <a class="plain-link" href="{% url 'nec-add' %}">
                    <button type="button" style="display: block; margin: auto;">
                        <i class="material-icons">add</i> NEC
                    </button>
                </a>
            </span>
        </section>


    </div>
{% endblock %}