<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'payroll_info/css/qfc-light.css' %}">
        <link rel="stylesheet" href="{% static 'payroll_info/css/style2.css' %}">
        <link rel="stylesheet" href="{% static 'payroll_info/css/tables.css' %}">
        <!--
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@codolog/form@1.0.0/dist/form.css">
        -->
        <link rel="stylesheet" href="{% static 'payroll_info/css/colours.css' %}">
        <link rel="shortcut icon" href="{% static 'payroll_info/images/logo.jpeg' %}" type = "image/jpg">
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Softrite API</title>
        {% endif %}
    </head>

    <body>
        <div class="qfc-container">
            <section class="ribbon-container">
                {%if user.is_authenticated %}
                    <a href="#">
                        <img src="{% static 'payroll_info/images/logo-transparent.png' %}" alt="softrite logo" class="ribbon-logo">
                    </a>

                    <div class="row">
                        <div class="dropdown">
                            <span class="dropbtn">
                                <button class="plain-button">
                                    <b>Profile</b>
                                </button>
                                <span class="dropdown-content">
                                    <a class="plain-link plain" href="{% url 'profile' %}">
                                        {{ user.username }}
                                    </a>
                                    <a class="plain-link" href="{% url 'logout' %}">Logout</a>
                                </span>
                            </span>
                        </div>

                        {% if user.is_staff %}
                            <div class="dropdown">
                                <span class="dropbtn">
                                    <button class="plain-button">
                                        <b>Staff</b>
                                    </button>
                                    <span class="dropdown-content">
                                        <a href="{% url 'payroll-home' %}">Rates</a>
                                        <a class="plain-link plain" href="{% url 'manage_companies' %}">
                                            Companies
                                        </a>
                                        <a class="plain-link plain" href="{% url 'backups:file_browser' %}">
                                            Backups Explorer
                                        </a>
                                    </span>
                                </span>
                            </div>
                        {% endif %}

{#                        {%  if user.is_staff or user.profile.is_company_admin and user.profile.company %}#}
{#                            <a class=" plain-link plain-button" href="{% url 'backups:file_browser' %}">#}
{#                                <b>Backups Explorer</b>#}
{#                            </a>#}
{#                        {% endif %}#}

                        {%  if user.profile.is_company_admin and user.profile.company %}
                            <div class="dropdown">
                                <span class="dropbtn">
                                    <button class="plain-button">
                                        <b>{{ user.profile.company.name }}</b>
                                    </button>
                                    <span class="dropdown-content">
                                        <a class="plain-link plain" href="{% url 'update_company' user.profile.company.id %}">Info</a>
                                        <a class="plain-link plain" href="{% url 'manage_company_users' user.profile.company.id %}">Users</a>
                                        <a href="{% url 'backups:company_list' user.profile.company.id %}">Backups List</a>
                                        {% if not user.is_staff %}
                                            <a class="plain-link plain" href="{% url 'backups:file_browser' %}">
                                                Backups Explorer
                                            </a>
                                        {% endif %}
                                    </span>
                                </span>
                            </div>
                        {% endif %}
                    </div>
                {% else %}
                    <div>
                        <a class="plain-link" href="{% url 'login' %}">Login</a>
                    </div>
                {% endif %}
            </section>
            <section id="messages">
                {% if messages %}
                    {% for message in messages%}
                        {% if message.tags == 'error'%}
                            <div class="inner-card cadmium-red ">
                                <em> {{ message }} </em>
                            </div>
                        {% elif message.tags == 'info'%}
                            <div class="inner-card cobalt-blue">
                                <em> {{ message }} </em>
                            </div>
                        {% else %}
                            <div class="inner-card lincolngreen">
                                <em> {{ message }} </em>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </section>
            {% block content %}
            {% endblock content%}
        </div>
    </body>
</html>
