{% extends 'payroll_info/base.html' %}

<!-- add this line to include the custom tag we made in the param_replace.py file -->
{% load param_replace %}

{% block content %}
    <section id="search">
        <form method="GET">
            {% csrf_token %}
            <span class="flex-row">
                {{ search_form.as_p }}
                <button type="submit" class="plain-button">
                    <i class="material-icons">search</i>
                </button>
            </span>
        </form>
    </section>

    <br>

    <section id="interbank-rates-list">
        {% if inter_rates %}
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>USD-ZWL Rate</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                {% for obj in inter_rates %}
                    <tr>
                        <td>{{ obj.date }}</td>
                        <td>{{ obj.rate }}</td>
                        <td>
                            <a class="plain-link" href="{% url 'interbank-update' obj.id %}">
                                <i class="material-icons">edit</i>
                            </a>
                        </td>
                        <td>
                            <a class="plain-link" href="{% url 'interbank-delete' obj.id %}">
                                <i class="material-icons">remove_circle</i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
         {% else %}
            <p>
               No interbank rates have been added yet.
            </p>
        {% endif %}
    </section>

    {% if is_paginated %}
        <div class="button-row-left width-100">
            {% if page_obj.has_previous %}
                <a href="?{% param_replace page=1 %}" class="plain-link no-border button">
                    <i class="material-icons md-18 no-padding">first_page</i>
                </a>
                <a href="?{% param_replace page=page_obj.previous_page_number %}" class="plain-link no-border button">
                    <i class="material-icons md-18 no-padding">navigate_before</i>
                </a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a href="?{% param_replace page=num %}" class="plain-link no-border button" style="color: var(--form-theme-color)">
                        <span style="font-size: 18px; padding:0.4rem;">{{num}}</span>
                    </a>
                {% elif  num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                    <a href="?{% param_replace page=num %}" class="plain-link no-border button">
                        <span style="font-size: 18px; padding:0.4rem;">{{num}}</span>
                    </a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?{% param_replace page=page_obj.next_page_number %}" class="plain-link no-border button">
                    <i class="material-icons md-18 no-padding">navigate_next</i>
                </a>
                <a href="?{% param_replace page=page_obj.paginator.num_pages %}" class="plain-link no-border button">
                    <i class="material-icons md-18 no-padding">last_page</i>
                </a>
            {% endif %}
        </div>
    {% endif %}

    <span class="button-row-left">
        <a class="plain-link" href="{% url 'interbank-add' %} ">
            <button type="button">
                <i class="material-icons">add</i>
                Rate
            </button>
        </a>

        <a class="plain-link" href="{% url 'payroll-home' %}">
            <button type="button">
                <i class="material-icons">arrow_back</i>
                Back
            </button>
        </a>
    </span>
{% endblock %}