{% extends 'payroll_info/base.html' %}
{% block content %}
    <form class="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h4>Login</h4>
        <div class="flex-row"></div>

        <div class="flex-row">
             <label>Username: </label>
             {{ form.username }}
             {{ form.username.errors }}
        </div>

        <div class="flex-row">
             <label>Password: </label>
             {{ form.password }}
             {{ form.password.errors }}
        </div>
        <input type="submit" class="form" value="Login">
    </form>

{% endblock content %}