{% extends 'payroll_info/base.html' %}
{% load static %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="image image6"></div>
        {% for error in form.non_field_errors %}
            <div>
                {{error}}
            </div>
        {% endfor %}
        <div class="flex-row">
            <label for="form.name.id">NEC Name: </label>
            {{ form.name }}
            {% if form.errors %}
                <ul>
                    {% for error in form.name.errors %}
                        <li>
                            {{error}}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <br/>

        <div class="button-row-left">
            <button type="submit">
                <i class="material-icons">add</i>
                NEC
            </button>
            <a href="{% url 'payroll-home' %}">
                <button type="button">
                   Back
                </button>
            </a>
        </div>
    </form>

{% endblock %}