{% extends 'payroll_info/base.html' %}
{% block content %}
    <section id="grades_list">
        {% csrf_token %}
        {% if grades %}
            <table>
                <thead>
                    <tr>
                        <th>Grade</th>
                        <th>USD Minimum</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                {% for obj in grades %}
                    <tr>
                        <td>{{ obj.grade }}
                        <td>{{ obj.usd_minimum }}</td>
                        <td>
                            <a class="plain-link" href="{% url 'nec-grade-update' nec.id obj.id %}">
                                <i class="material-icons">edit</i>
                            </a>
                        </td>
                        <td>
                            <a class="plain-link" href="{% url 'nec-grade-delete' nec.id obj.id %}">
                                <i class="material-icons">remove_circle</i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
         {% else %}
            <p>
                No grades added for the <b>{{ nec.name }}</b> NEC.
            </p>
        {% endif %}
    </section>

    {% if is_paginated %}
        <div class="flex-row">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="plain-link no-border button width-10">
                    <i class="material-icons md-18 no-padding">first_page</i>
                </a>
                <a href="?page={{ page_obj.previous_page_number }}" class="plain-link no-border button width-10">
                    <i class="material-icons md-18 no-padding">navigate_before</i>
                </a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a href="?page={{ num }}" class="plain-link no-border button width-10">{{num}}</a>
                {% elif  num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                    <a href="?page={{ num }}" class="plain-link no-border button width-10">{{num}}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="plain-link no-border button width-10">
                    <i class="material-icons md-18 no-padding">navigate_next</i>
                </a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="plain-link no-border button width-10">
                    <i class="material-icons md-18 no-padding">last_page</i>
                </a>
            {% endif %}
        </div>
    {% endif %}

    <span class="button-row-left">
        <a class="plain-link" href="{% url 'nec-grade-add' nec.id %} ">
            <button type="button">
                <i class="material-icons">add</i>
                Grade
            </button>
        </a>

        <a class="plain-link" href="{% url 'payroll-home' %}">
            <button type="button">
                <i class="material-icons">arrow_back</i>
                Back
            </button>
        </a>
    </span>
{% endblock %}