{% extends 'tracker/base.html' %}
{% block content %}
 <form method="post" enctype="multipart/form-data">
     {% csrf_token %}
     <h4>{{ title }}</h4>
     <div class="flex-row"></div>

     <h5>Employee Details</h5>
     <div class="flex-row">
         <label>Username: </label>
         {{ u_form.username }}
         {{ u_form.username.errors }}
    </div>
     <div class="flex-row">
         <label>Email: </label>
         {{ u_form.email }}
         {{ u_form.email.errors }}
    </div>

     <div class="flex-row">
         <label>Department: </label>
         {{ form.department }}
         {{ form.department.errors }}
    </div>

     <div class="flex-row">
         <label>Office: </label>
         {{ form.office }}
         {{ form.office.errors }}
    </div>

     {% if laptop %}
        <h5>Laptop Details</h5>
        {% if laptop.is_qrent %}
            <p>Qrent</p>
        {% else %}
            <p>Baker Tilly</p>
        {% endif %}

        <table>
            <tr>
                <td><b>Model</b></td>
                <td>{{ laptop.brand_model }}</td>
            </tr>
            <tr>
                <td><b>Serial number</b></td>
                <td>{{ laptop.serial_number }}</td>
            </tr>
            <tr>
                <td><b>Processor</b></td>
                <td>{{ laptop.processor }}</td>
            </tr>
            <tr>
                <td><b>Ram</b></td>
                <td>{{ laptop.ram }} GBs</td>
            </tr>
            <tr>
                <td><b>Ram Type</b></td>
                <td>{{ laptop.ram_type }}</td>
            </tr>
            <tr>
                <td><b>Expandable To</b></td>
                <td>{{ laptop.max_ram }} GBs</td>
            </tr>
            <tr>
                <td><b>Storage</b></td>
                <td>{{ laptop.storage }} GBs</td>
            </tr>
            <tr>
                <td><b>Operating System</b></td>
                <td>{{ laptop.operating_system }}</td>
            </tr>
            <tr>
                <td><b>Installed Antivirus</b></td>
                <td>{{ laptop.antivirus }}</td>
            </tr>
            <tr>
                <td><b>Condition</b></td>
                <td>{{ laptop.condition }}</td>
            </tr>
        </table>
     {% endif %}
     <div class="flex-row"></div>

     {% if laptop %}
        <h5>Issue History</h5>
        <div class="flex-row"></div>

        <a href="{% url 'add-issue' laptop.id %}">
            <button type="button">Add Issue</button>
        </a>

        <div class="flex-row"></div>

        {% if issues_list %}
            <table>
                <tr>
                    <th>Title</th>
                    <th>Create Date</th>
                    <th>Resolve Date</th>
                    <th>Sent To</th>
                </tr>
                {% for issue in issues_list %}
                    <tr>
                        <td>
                            <a class="plain-link" href="{% url 'update-issue' laptop.id issue.id %}">
                                {{ issue.title }}
                            </a>
                        </td>
                        <td>{{ issue.create_date }}</td>
                        {% if issue.resolution_date %}
                            <td>{{ issue.resolution_date }}</td>
                        {% else %}
                            <td>Not Resolved</td>
                        {% endif %}
                        <td>
                            {% if issue.sent_to %}
                                {{ issue.sent_to }}
                            {% else %}
                                IT Department
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
     {% endif %}

     <div class="flex-row"></div>

     <div class="row">
         <a href="{% url 'profile' %}">
            <button type="button">Back</button>
        </a>
         <input type="submit" class="form" value="Update">
     </div>

 </form>



{% endblock content %}